**/node_modules
**/.next
**/.turbo
**/dist
**/build
**/coverage
**/playwright-report
**/test-results
**/*.tsbuildinfo
.git
.github
.vscode
.DS_Store
**/*.log
out
docker-compose*.yml
.env
.env.*.local
