# dependencies
node_modules/
.pnpm-store/

# build outputs
.next/
dist/
build/
*.tsbuildinfo

# turborepo
.turbo/

# testing
coverage/
playwright-report/
test-results/

# env
.env
.env*.local

# editor / os
.DS_Store
.vscode/*
!.vscode/extensions.json

# logs
*.log
npm-debug.log*
pnpm-debug.log*
